body {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@tailwind base;
@tailwind components;
.flex-center {
  @apply h-full w-full flex justify-center items-center flex-col;
}
.screen-full {
  @apply h-screen w-screen;
}
.auth-input {
  @apply w-2/3 h-10 border-[1px] border-gray-400 rounded-md pl-3 placeholder:font-medium outline-none focus:ring-1 focus:ring-green-500;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

input[type='file']::-webkit-file-upload-button,
input[type='file']::file-selector-button {
  @apply text-white bg-gray-700 hover:bg-gray-600 font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
  margin-inline-start: -1rem;
  margin-inline-end: 1rem;
}
@tailwind utilities;
